---
import Form from "./Form.astro"
---
<footer class="bg-olive text-text py-16">
    <div class="container mx-auto"> 
         <Form/> 
        <div class="flex flex-col"> 
            <!-- Formulaire d'inscription à la newsletter -->
                               

            <!-- Réseaux sociaux -->
            <div class="flex justify-evenly space-x-4 mb-10">
                <a href="https://wwww.facebook.com/profile.php?id=61558727135340" class="text-text hover:text-white transition duration-200">
                    <i class="fa-brands fa-square-facebook text-3xl"></i>
                </a>
                <a href="https://www.instagram.com/detitiakikine/" class="text-text hover:text-white transition duration-200">
                    <i class="fa-brands fa-instagram text-3xl"></i>
                </a>
            </div>
            <!-- Liens de Footer -->
            <div class=" md:mb-0 text-center">
                <div class="flex flex-wrap justify-center text-sm">
                    <a href="#" class="mr-4 text-text hover:text-white transition duration-200">Conditions d'utilisation</a>
                    <a href="#" class="mr-4 text-text hover:text-white transition duration-200">Gestion des données</a>
                </div>
            </div>
        </div>
    </div>
</footer>  