<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bientôt disponible</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bellefair&family=Edu+QLD+Beginner:wght@700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-olive ">
    <div class="flex flex-col items-center justify-center min-h-screen">
        <div class="bg-olive rounded-lg p-8 max-w-md w-full mx-auto">
            <img src="logo-svg.svg" alt="Logo" class="mx-auto mb-6 w-48 md:w-64 lg:w-80">
            <h1 class="text-5xl font-edu-qlld-beginner mb-4 text-center">Bientot disponible</h1>
            <p class="text-m mb-6 font-Bellefair">Découvrez notre service de confection sur-mesure, où que vous soyez. Restez connectés pour être parmi les premiers à découvrir nos dernières créations !</p>
            
            <!-- Formulaire d'inscription à la newsletter -->
            <iframe width="540" height="305" src="https://91c6064b.sibforms.com/serve/MUIFANcZXceHUjEWXe3W4gnlGMMH9ajvR9vO_R6Jp3TxtFXB9CJWIffu36xUX4lr1prI-ucPv6yRYPoc8OeLrJF2hO4GhdJQhpWeodkYPRrhyWcnO5w2fJyEDj_OZa8Z2kYbtAz99_kioTNXHt3a38QvZA2Lc3VDsRUkv8kC_Chlg8suinqzmvUZrkk20edAmQQUIJEH36p9wLZD" frameborder="0" scrolling="auto" allowfullscreen style="display: block;margin-left: auto;margin-right: auto;max-width: 100%;"></iframe>
            <p class="text-sm text-text">En vous inscrivant, vous acceptez de recevoir des e-mails de notre part.</p>
        </div>
    </div>
</body>
</html>
