---
import Layout from "../layouts/Layout.astro"
---
    <!-- Contenu de la page de réalisations -->
    <Layout title="Nos réalisations hommes">
        <main class="py-16 px-4 h-screen">
            <h1 class="text-4xl text-center mb-4 md:text-6xl" style="font-family: 'Bellefair', serif;">Nos réalisations hommes</h1>
            <p class="text-m text-center md:text-2xl">Contactez-nous et faites partis des premiers à avoir vos vêtements publier</p>   
        </main>
    </Layout>
