---
import { getCollection, getEntry } from 'astro:content';

// Obtenir toutes les entrées d'une collection.
// Requiert le nom de la collection en tant qu'argument.
// Exemple : récupérer `src/content/blog/**`
const allMaroquinerie = await getCollection('maroquinerie');

---
<div class="">

</div>
