---
import Layout from "../layouts/Layout.astro"
---
<Layout title="A propos">

    <!-- Contenu de la page de réalisations -->
    <main class="py-16 px-4 h-screen">
        <h1 class="text-4xl text-center mb-4 md:text-6xl" style="font-family: 'Bellefair', serif;">À Propos de Titi à Kikine</h1>
        <p class="text-m text-center md:text-2xl">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum, enim ut laoreet mattis, turpis arcu dapibus risus, at commodo libero magna id nibh. Nullam varius, urna ac varius condimentum, lectus elit facilisis magna, id tincidunt metus lorem a sapien.</p>
        <p>Nulla facilisi. Integer consequat dolor in enim tristique, at rhoncus ipsum tristique. Nullam vitae consectetur purus. Curabitur condimentum auctor enim, sit amet tincidunt lacus malesuada nec. Praesent in velit id est fermentum imperdiet.</p>
        <p>Sed at lacus eget tortor facilisis varius. Vestibulum auctor, sapien eget sodales lacinia, ipsum purus aliquam felis, nec ullamcorper felis nisi vel sem. Fusce rutrum augue ut mi posuere, sed suscipit velit iaculis. Mauris euismod consequat volutpat.</p>
    </main>
</Layout>
