---
import Layout from "../layouts/Layout.astro"
---
<Layout title="Nos réalisations enfants">
    <!-- Contenu de la page de réalisations -->
    <main class="py-16 px-4 h-screen">
        <h1 class="text-4xl text-center mb-4 md:text-6xl" style="font-family: 'Bellefair', serif;">Nos réalisations enfants</h1>
        <p class="text-m text-center md:text-2xl">Contactez-nous et faites de vos enfants les premiers à avoir leurs vêtements publier</p>
    </main>
</Layout>

