---
import Nav from '../components/Nav.astro';
---

<!DOCTYPE html>
<html lang="fr">

<head>
    <!-- Site Title-->
    <title>De Titi à Kikine</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bellefair&family=Edu+QLD+Beginner:wght@700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body>
    <Nav />
    <main>
        <section class="relative bg-image min-h-96 md:min-h-5/6 flex items-center justify-center" style="background-image: url('/image.webp'); background-size: cover; background-position: center; object-fit: cover">
            <!-- Voile transparent -->
            <div class="absolute inset-0 bg-white opacity-40"></div>
            
            <div class="text-center text-text relative z-10">
                <!-- Texte sur grand écran -->
                <h1 class="text-4xl mb-4 md:text-6xl" style="font-family: 'Bellefair', serif;">De l'écran à votre garde-robe, une élégance sur-mesure</h1>
                <p class="text-m md:text-2xl">Découvrez notre service de confection sur-mesure, où que vous soyez.</p>
            </div>
        </section>
        
        
        
            <section class="py-16 px-4">
                <div class="text-center">
                    <h2 class="text-3xl md:text-4xl lg:text-5xl text-text mb-8" style="font-family: 'Bellefair', serif;">Découvrez nos Collections</h2>
                </div>
                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
                    <!-- Bouton Hommes -->
                    <div class="bg-white rounded-lg shadow-md flex flex-row items-center justify-start px-4 py-3 md:py-4">
                        <img src="/visuel_venir.jpg" alt="Hommes" class="w-32 h-32 mr-4 object-cover rounded-full">
                        <a href="/collections/hommes" class="text-text font-bold hover:text-olive transition duration-200">Hommes</a>
                    </div>
                    <!-- Bouton Femmes -->
                    <div class="bg-white rounded-lg shadow-md flex flex-row items-center justify-start px-4 py-3 md:py-4">
                        <img src="/visuel_venir.jpg" alt="Femmes" class="w-32 h-32 mr-4 object-cover rounded-full">
                        <a href="/collections/femmes" class="text-text font-bold hover:text-olive transition duration-200">Femmes</a>
                    </div>
                    <!-- Bouton Enfants -->
                    <div class="bg-white rounded-lg shadow-md flex flex-row items-center justify-start px-4 py-3 md:py-4">
                        <img src="/visuel_venir.jpg" alt="Enfants" class="w-32 h-32 mr-4 object-cover rounded-full">
                        <a href="/collections/enfants" class="text-text font-bold hover:text-olive transition duration-200">Enfants</a>
                    </div>
                    <!-- Bouton Maroquinerie -->
                    <div class="bg-white rounded-lg shadow-md flex flex-row items-center justify-start px-4 py-3 md:py-4">
                        <img src="/visuel_venir.jpg" alt="Maroquinerie" class="w-32 h-32 mr-4 object-cover rounded-full">
                        <a href="/collections/maroquinerie" class="text-text font-bold hover:text-olive transition duration-200">Maroquinerie</a>
                    </div>
                </div>
            </section>
            <section class="py-16 px-4">
                <div class="max-w-6xl mx-auto text-center">
                    <h2 class="text-3xl md:text-4xl lg:text-5xl text-text mb-8" style="font-family: 'Bellefair', serif;">Processus de Création</h2>
                    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
                        <!-- Étape 1 -->
                        <div class="flex items-center bg-white rounded-lg p-6 shadow-lg">
                            <div class="rounded-full bg-olive text-text p-4 h-12 w-12 flex items-center justify-center">
                                <i class="fa-solid fa-phone text-2xl"></i>
                            </div>
                            <div class="ml-4">
                                <h3 class="text-xl font-bold text-text">1. Définir le Projet</h3>
                                <p class="text-text">Appel pour définir le projet et répondre à vos questions.</p>
                            </div>
                        </div>
                        <!-- Étape 2 -->
                        <div class="flex items-center bg-white rounded-lg p-6 shadow-lg">
                            <div class="rounded-full bg-olive text-text p-4 h-12 w-12 flex items-center justify-center">
                                <i class="fa-solid fa-ruler text-2xl"></i>
                            </div>
                            <div class="ml-4">
                                <h3 class="text-xl font-bold text-text">2. Envoi des Mesures</h3>
                                <p class="text-text">Envoi des mesures précises via l'application Netello.</p>
                            </div>
                        </div>
                        <!-- Étape 3 -->
                        <div class="flex items-center bg-white rounded-lg p-6 shadow-lg">
                            <div class="rounded-full bg-olive text-text p-4 h-12 w-12 flex items-center justify-center">
                                <i class="fa-solid fa-pencil text-2xl"></i>
                            </div>
                            <div class="ml-4">
                                <h3 class="text-xl font-bold text-text">3. Envoi des Croquis</h3>
                                <p class="text-text">Envoi des croquis par mail ou SMS et débriefing.</p>
                            </div>
                        </div>
                        <!-- Étape 4 -->
                        <div class="flex items-center bg-white rounded-lg p-6 shadow-lg">
                            <div class="rounded-full bg-olive text-text p-4 h-12 w-12 flex items-center justify-center">
                                <i class="fa-solid fa-shirt text-2xl"></i>
                            </div>
                            <div class="ml-4">
                                <h3 class="text-xl font-bold text-text0">4. Envoi de la Toile Prototype</h3>
                                <p class="text-text">Essayage en visio pour les possibles retouches.</p>
                            </div>
                        </div>
                        <!-- Étape 5 -->
                        <div class="flex items-center bg-white rounded-lg p-6 shadow-lg">
                            <div class="rounded-full bg-olive text-text p-4 h-12 w-12 flex items-center justify-center">
                                <i class="fa-solid fa-map-pin text-2xl"></i>
                            </div>
                            
                            <div class="ml-4">
                                <h3 class="text-xl font-bold text-text">5. Retouches de la Toile</h3>
                                <p class="text-text">Retouches selon les observations de l'essayage en visio.</p>
                            </div>
                        </div>
                        <!-- Étape 6 -->
                        <div class="flex items-center bg-white rounded-lg p-6 shadow-lg">
                            <ddiv class="rounded-full bg-olive text-text p-4 h-12 w-12 flex items-center justify-center">
                                <i class="fa-solid fa-shirt text-xl"></i>
                            </ddiv>
                            <div class="ml-4">
                                <h3 class="text-xl font-bold text-text">6. Confection du Vêtement</h3>
                                <p class="text-text">Confection artisanale avec des techniques de couture haut de gamme.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            
            
            
            
            <!-- Section Prenez rendez-vous -->
            <section class="bg-olive py-16 px-4">
                <div class="text-center">
                    <h2 class="text-3xl md:text-4xl lg:text-5xl text-text mb-8" style="font-family: 'Bellefair', serif;">Contactez-nous pour toute question ou pour discuter de votre projet.</h2>
                </div>
                <!-- Cal inline embed code begins -->
                <div style="width:100%;height:100%;overflow:scroll" id="my-cal-inline"></div>
                    <script type="text/javascript">
                    (function (C, A, L) { let p = function (a, ar) { a.q.push(ar); }; let d = C.document; C.Cal = C.Cal || function () { let cal = C.Cal; let ar = arguments; if (!cal.loaded) { cal.ns = {}; cal.q = cal.q || []; d.head.appendChild(d.createElement("script")).src = A; cal.loaded = true; } if (ar[0] === L) { const api = function () { p(api, arguments); }; const namespace = ar[1]; api.q = api.q || []; if(typeof namespace === "string"){cal.ns[namespace] = cal.ns[namespace] || api;p(cal.ns[namespace], ar);p(cal, ["initNamespace", namespace]);} else p(cal, ar); return;} p(cal, ar); }; })(window, "https://app.cal.com/embed/embed.js", "init");
                    Cal("init",  {origin:"https://cal.com"});

                    Cal("inline", {
	                elementOrSelector:"#my-cal-inline",
	                calLink: "justine-prevot/30min",
	                layout: "month_view"
                    });

                    Cal("ui", {"styles":{"branding":{"brandColor":"#000000"}},"hideEventTypeDetails":false,"layout":"month_view"});
                    </script>
  <!-- Cal inline embed code ends -->
            </section>
        </main>
        
        <footer class="bg-olive text-text py-16">
            <div class="container mx-auto">
                <div class="flex flex-col"> 
                    <!-- Formulaire d'inscription à la newsletter -->
                    <div class="mb-10">
                        <h3 class="text-lg text-center text-text mb-4 md:mb-0 md:mr-4">Inscrivez-vous à notre newsletter</h3>
                        <form action="#" method="POST" class="md:w-full">
                            <div class="flex flex-col items-center">
                                <input type="email" name="email" placeholder="Entrez votre adresse e-mail" class="border border-gray-300 rounded py-3 px-6 text-text m-3 md:w-3/5" required>
                                <div class="flex justify-center md:flex">
                                     <button type="submit" class="bg-text text-olive px-4 py-2 rounded hover:bg-gray-800 w-full">S'inscrire</button>
                                </div>
                               
                            </div>
                        </form>                          
                    </div>
                    <!-- Réseaux sociaux -->
                    <div class="flex justify-evenly space-x-4 mb-10">
                        <a href="#" class="text-text hover:text-white transition duration-200">
                            <i class="fa-brands fa-square-facebook text-3xl"></i>
                        </a>
                        <a href="#" class="text-text hover:text-white transition duration-200">
                            <i class="fa-brands fa-twitter text-3xl"></i>
                        </a>
                        <a href="#" class="text-text hover:text-white transition duration-200">
                            <i class="fa-brands fa-instagram text-3xl"></i>
                        </a>
                    </div>
                    <!-- Liens de Footer -->
                    <div class=" md:mb-0 text-center">
                        <div class="flex flex-wrap justify-center text-sm">
                            <a href="#" class="mr-4 text-text hover:text-white transition duration-200">Conditions d'utilisation</a>
                            <a href="#" class="mr-4 text-text hover:text-white transition duration-200">Gestion des données</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>  

</body>
<script src="https://kit.fontawesome.com/e597956fa1.js" crossorigin="anonymous"></script>
</html>
