---
import Nav from '../components/Nav.astro';
---

<!DOCTYPE html>
<html lang="fr">

<head>
    <!-- Site Title-->
    <title>Home</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bellefair&family=Edu+QLD+Beginner:wght@700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body>
    <Nav />
    <main>
        <section class="bg-image h-96 flex items-center justify-center" style="background-image: url('/image.png'); background-size: cover; background-position: center;">    </section> 
            <div class="text-center text-container text-text">
                <h1 class="text-4xl font-Bellefair mb-4">De l'écran à votre garde-robe, une élégance sur-mesure</h1>
                <p class="text-m">Découvrez notre service de confection sur-mesure, où que vous soyez.</p>
            </div>
        <section>
            <a href="">
                <img/>
            </a>
        </section>
    </main>
</body>

</html>
