---
import Layout from "../layouts/Layout.astro"
---
    <Layout title="Notre Maroquinerie" >
        <div class="py-16 px-4 h-screen">
        <h1 class="text-4xl  text-center mb-4 md:text-6xl" style="font-family: 'Bellefair', serif;">Notre maroquinerie</h1>
        <p class="text-m text-center md:text-2xl">Patience... ! Nos Collections arrivent bientôt</p>
        </div>
    </Layout>

